<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <link
         href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
         rel="stylesheet"
         />
      <link rel="stylesheet" href="../styles/fullpage.min.css" />
      <link rel="stylesheet" href="../styles/style_about.css" />
      <title>About Pitch Parser</title>
   </head>
   <body>
      <div id="fullpage">
         <section class="section s1">
            <span class = "logo"><a href="/home">Home</a></span>
            <h1>About This Project</h1>
         </section>
         <section class="section s2">
            <h1>Project Requirements</h1>
            <div class="description">
               <ul class="live type2">
                  <li>Using the PITCH specification document, create an interface that allows a user to upload the attached PITCH data file.</li>
                  <li>The application should process the data and produce output showing a count of messages by message type.</li>
                  <li>Each line in the attached file begins with an extra 'S' character that is not mentioned in the spec.  This character can be ignored.</li>
                  <li>"Feel free to use the language and framework of your choice."</li>
                  <li>Return the completed code with instructions for execution.</li>
               </ul>
            </div>
            <img src="../assets/tilt4.png" class="doc c4" />
            <img src="../assets/tilt3.png" class="doc c3" />
            <img src="../assets/tilt2.png" class="doc c2" />
            <img src="../assets/tilt1.png" class="doc c1" />
         </section>
         
         <section class="section s3">
            <h1>Technology Stack</h1>
            <div class="description">
               <ul class="live type2">
                  <li>Spring Boot</li>
                  <li>Thymeleaf</li>
                  <li>H2 Database</li>
                  <li>Apache Tomcat</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>JavaScript</li>
               </ul>
            </div>
            <img src="../assets/spring-boot-logos2.png" class="stack" />
         </section>
      </div>
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"
         integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk="
         crossorigin="anonymous"
         ></script>
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
         integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U="
         crossorigin="anonymous"
         ></script>
      <script src="../clientside_scripts/app_about_top.js"></script>
      <script src="../clientside_scripts/fullpage.min.js"></script>
      <script src="../clientside_scripts/app_about.js"></script>
   </body>
</html>